# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform variable override files
*.tfvars
*.tfvars.json

# Sensitive environment variable files
.env

# Ignore plan output files
*.tfplan

# Backup files
*.backup

# Lock file
.terraform.lock.hcl

# IDE and editor directories
.vscode/
.idea/
*.swp